body {
    font-family: "Montserrat", "sans-serif";
    background: black;
    color: white;
    padding: 0;
}

#nav {
    height: 95%;
    width: 160px;
    position: fixed;
    background: rgba(0,0,0,0);
    left: 25px;
    top: 10px;
    border-right: 2px dotted #539564;
    padding-right: 30px;
}

a.nav {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  display: block;
  border-bottom: 2px dotted #539564;
}

a {
    color: #a2d289;
}

a.nav:hover {
    color: #a2d289;
    transition: .3s;
}

section {
    margin-left: 120px;
    margin-right: 40px;
}

h1 {
    font-size: 25px;
    color: #539564;
}

#cory {
    width: 200px;
    float: left;
    margin-right: 10px;
}